- noteable = @sent_notification.noteable
- noteable_type = @sent_notification.noteable_type.titleize.downcase
- noteable_text = %(#{noteable.title} (#{noteable.to_reference}))
- page_title "Unsubscribe", noteable_text, noteable_type.pluralize, @sent_notification.project.full_name

%h3.page-title
  取消订阅 #{noteable_type}

%p
  = succeed '?' do
    你确定要取消订阅 #{noteable_type}:
    = link_to noteable_text, url_for([@sent_notification.project.namespace.becomes(Namespace), @sent_notification.project, noteable])

%p
  = link_to '取消订阅', unsubscribe_sent_notification_path(@sent_notification, force: true),
            class: 'btn btn-primary append-right-10'
  = link_to '取消', new_user_session_path, class: 'btn append-right-10'
