- add_to_breadcrumbs "Pages", project_pages_path(@project)
- page_title '新建网页域名'
%h3.page_title
  新建网页域名
%hr.clearfix
%div
  = form_for [@project.namespace.becomes(Namespace), @project, @domain], html: { class: 'form-horizontal fieldset-form' } do |f|
    = render 'form', { f: f }
    .form-actions
      = f.submit 'Create New Domain', class: "btn btn-save"
