.search-result-row
  %h4
    = confidential_icon(issue)
    = link_to [issue.project.namespace.becomes(Namespace), issue.project, issue] do
      %span.term.str-truncated= issue.title
    - if issue.closed?
      %span.label.label-danger.prepend-left-5 已关闭
    .pull-right ##{issue.iid}
  - if issue.description.present?
    .description.term
      = search_md_sanitize(issue, :description)
  %span.light
    #{issue.project.full_name}
