- breadcrumb_title "流水线"
- page_title "新建流水线"

%h3.page-title
  新建流水线
%hr

= form_for @pipeline, as: :pipeline, url: project_pipelines_path(@project), html: { id: "new-pipeline-form", class: "form-horizontal js-new-pipeline-form js-requires-input" } do |f|
  = form_errors(@pipeline)
  .form-group
    = f.label :ref, '创建自', class: 'control-label'
    .col-sm-10
      = hidden_field_tag 'pipeline[ref]', params[:ref] || @project.default_branch
      = dropdown_tag(params[:ref] || @project.default_branch,
                     options: { toggle_class: 'js-branch-select wide git-revision-dropdown-toggle',
                                filter: true, dropdown_class: "dropdown-menu-selectable git-revision-dropdown", placeholder: "Search branches",
                                data: { selected: params[:ref] || @project.default_branch, field_name: 'pipeline[ref]' } })
      .help-block 已存在的分支或标签
  .form-actions
    = f.submit '创建流水线', class: 'btn btn-create', tabindex: 3
    = link_to '取消', project_pipelines_path(@project), class: 'btn btn-cancel'

-# haml-lint:disable InlineJavaScript
%script#availableRefs{ type: "application/json" }= @project.repository.ref_names.to_json.html_safe
